<% if logged_in? %>
  <form action='/tweets' method="post">
    Content:<br>
    <textarea type="text" name="content" style="word-wrap:break-word;"></textarea><br>
    Create Your Tweet:

    <input type="submit" name="submit" id="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>
