<% if flash[:message] %>
    <br><br>
    <font color="red"><%= flash[:message]%></font>
    <br><br>
<% end %>

<h1>Login</h1>
<form action='/login' method='POST'>
    <input type='text' name='username' placeholder='Username:'>
    <input type='password' name='password' placeholder='Password:'>
    <input type='submit' value='submit'>
</form>