<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
  <a href='/'><input type='button' value='Home'></a>
  <a href='/tweets'><input type='button' value='All Tweets'></a>
  <% if !session.key?("user_id") %>
    <a href='/login'><input type='button' value='Login'></a>
    <a href='/new'><input type='button' value='Create Account'></a>
  <% else %>
    <a href='/logout'><input type='button' value='Logout'></a>
    <a href='/show'><input type='button' value='My Account'></a>
  <% end %>

    <%= yield %>

  </body>
</html>
